<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="/css/style.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <title><%=title%></title>
  </head>
  <body>
    <div class="user">
        <header class="user__header">
            <img src="/img/edit.svg" alt="" />
            <h1 class="user__title">EDIT CONTACT</h1>
        </header>

        <form class="form" action="<%=data.id%>" method="post">
            <div class="form__group">
                <input type="text" placeholder="Your Name" name="name" class="form__input" value="<%=data.name%>"/>
            </div>

            <div class="form__group">
                <input type="text" placeholder="Company" name="company" class="form__input" value="<%=data.company%>"/>
            </div>

            <div class="form__group">
                <input type="text" placeholder="Telephone" name="telp_number" class="form__input" value="<%=data.telp_number%>"/>
            </div>

            <div class="form__group">
                <input type="text" placeholder="Email" name="email" class="form__input" value="<%=data.email%>"/>
            </div>

            <button class="btn" type="submit">SUBMIT</button>

        </form>
        <a class="back" href="/contacts">Back to Contacts</a>
    </div>
  </body>
</html>
